section.camps

    .container

        h1.camps__title Camps

        .camps__wrapper
            .camps__element
                .photo
                    img(src='img/camp_1.png' alt='photo')

                .descr
