section.camps

    .container

        h1.camps__title Camps

        .camps__wrapper

            .camps__element
                .photo
                    img(src='img/camp_1.png' alt='photo')

                .descr
                    h3.descr__title
                        span.descr__title--teams Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

                    span.descr__date 03.04.2018
                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au

                    a(href='#').descr__more vice

            .camps__hover-element

                .camps__slider

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_2.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_2.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_3.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_3.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_4.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_4.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                .descr

                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull

                    a(href='#').descr__more Objednejte nyní

            .camps__element
                .photo
                    img(src='img/camp_2.png' alt='photo')

                .descr
                    h3.descr__title
                        span.descr__title--teams Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

                    span.descr__date 03.04.2018
                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au

                    a(href='#').descr__more vice

            .camps__hover-element

                .camps__slider

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_2.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_2.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_3.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_3.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_4.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_4.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                .descr

                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull

                    a(href='#').descr__more Objednejte nyní

            .camps__element
                .photo
                    img(src='img/camp_3.png' alt='photo')

                .descr
                    h3.descr__title
                        span.descr__title--teams Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

                    span.descr__date 03.04.2018
                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au

                    a(href='#').descr__more vice

            .camps__hover-element

                .camps__slider

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_2.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_2.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_3.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_3.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_4.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_4.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                .descr

                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull

                    a(href='#').descr__more Objednejte nyní

            .camps__element
                .photo
                    img(src='img/camp_4.png' alt='photo')

                .descr
                    h3.descr__title
                        span.descr__title--teams Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

                    span.descr__date 03.04.2018
                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au

                    a(href='#').descr__more vice

            .camps__hover-element

                .camps__slider

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_2.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_2.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_3.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_3.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_4.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_4.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                .descr

                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull

                    a(href='#').descr__more Objednejte nyní

            .camps__element
                .photo
                    img(src='img/camp_5.png' alt='photo')

                .descr
                    h3.descr__title
                        span.descr__title--teams Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed

                    span.descr__date 03.04.2018
                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis au

                    a(href='#').descr__more vice

            .camps__hover-element

                .camps__slider

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_2.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_2.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_3.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_3.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_4.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_4.png' alt='photo')
                        .hover
                            span

                    a(href='img/camp_1.png' alt='photo' data-fancybox="gallery").camps__slider--slide
                        img(src='img/camp_1.png' alt='photo')
                        .hover
                            span

                .descr

                    p.descr__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull

                    a(href='#').descr__more Objednejte nyní