section.features

    .features__bg
        img(src='img/trener-bg.png')

    .container
        h3.features__title Osobnosti

        .features__wrapper
            .features__wrapper--item
                .photo
                    img(src='img/trener-1.png')

                h3.title Milo Kral

                .text
                    p Lipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa debitis deserunt dicta dolorem dolorum earum excepturi explicabo maiores necessitatibus numquam possimus provident quam repudiandae rerum, sit, suscipit.

                a(href='person.html').more
                    span vice

            .features__wrapper--item
                .photo
                    img(src='img/trener-2.png')

                h3.title Agata Prendi

                .text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa debitis deserunt dicta dolorem dolorum earum excepturi explicabo maiores necessitatibus numquam possimus provident quam repudiandae rerum, sit, suscipit.

                a(href='person.html').more
                    span vice

            .features__wrapper--item
                .photo
                    img(src='img/trener-3.png')

                h3.title Viku Petr

                .text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa debitis deserunt dicta dolorem dolorum earum excepturi explicabo maiores necessitatibus numquam possimus provident quam repudiandae rerum, sit, suscipit.

                a(href='person.html').more
                   span vice