section.features
    .container
        h3.features__title Osobnosti

        .features__wrapper
            .features__wrapper--item
                .photo
                    img(src='img/trener-1.png')

                h3.title Milo Kral

                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa debitis deserunt dicta dolorem dolorum earum excepturi explicabo maiores necessitatibus numquam possimus provident quam repudiandae rerum, sit, suscipit.

                a.more
                    span vice

            .features__wrapper--item
                .photo
                    img(src='img/trener-2.png')

                h3.title Agata Prendi

                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa debitis deserunt dicta dolorem dolorum earum excepturi explicabo maiores necessitatibus numquam possimus provident quam repudiandae rerum, sit, suscipit.

                a.more
                    span vice

            .features__wrapper--item
                .photo
                    img(src='img/trener-3.png')

                h3.title Viku Petr

                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa debitis deserunt dicta dolorem dolorum earum excepturi explicabo maiores necessitatibus numquam possimus provident quam repudiandae rerum, sit, suscipit.

                a.more
                   span vice