footer.footer
    .container

        .logo
             img(src='img/icons/footer-logo.png')
        .footer__logo


            p.footer__logo--title sigi team s.r.o.

            p.footer__logo--address Vyvysen.573 Praha 5 - Lipence 155 31
            p.footer__logo--ico ICO: 048 92 895
            a(href="tel:+420 724 360 835").footer__logo--call tel.: +420 724 360 835

        .footer__element
            p.footer__element--title Menu
                ul.footer__element--menu
                    li
                        a(href='#') Sportovni udalosti
                    li
                        a(href='#') Zapasy
                    li
                        a(href='#') Osobnosti
                    li
                        a(href='#') Treninky
                    li
                        a(href='#') Kontakty

        .footer__element
            p.footer__element--title Kontakty
                ul.footer__element--menu
                    li
                        a(href='#') tel.: +420 724 360 835
                    li
                        a.footer__element--email(href='maito:') horst@sigiteam.cz

        .footer__partner
            p.footer__partner--title Partner

            a.footer__partner--partner
                img(src='img/partner-logo.png')

        .footer__socials
            a(href='#')
                i.fa.fa-facebook(aria-hidden='true')
            a(href='#')
                i.fa.fa-youtube(aria-hidden="true")

        .footer__art &copy; 2003-2018 sigi team s.r.o. all rights reserved