header.header

    .container

        a(href='/').header__logo
            img(src='img/icons/top-logo.png' alt='logo')

        nav.header__navigation

            a#mobile-menu.header__trigger
                span
                span
                span

            ul.header__nav
                li
                    a(href='#') Sportovní události
                li
                    a(href='matches.html') Zápasy
                li
                    a(href='#') Osobnosti
                li
                    a(href='#') Tréninky
                li
                    a(href='contacts.html') Kontakty

            ul.header__submenu
                li
                    a(href="#") Fotbalové poradenství
                li
                    a(href="school.html") Fotbalová škola Horsta Siegla
                li
                    a(href="https://www.facebook.com/search/top/?q=sigi%20team")
                        span
                            i.fa.fa-facebook(aria-hidden='true')
                li
                    a(href="#")
                        span
                            i.fa.fa-youtube(aria-hidden="true")