section.matches

    .container

        h1.matches__title Zapasy

        .matches__wrapper

            .matches__wrapper--element
                .photo
                    img(src='img/match_1.png' alt='photo')
                    span.photo__count 7:7

                .descr
                    h3.descr__title
                        span.descr__title--date 14.6 2009
                        span.descr__title--teams   SIGI TEAM – HÁŠA TEAM (90LET LIPENCE)
                    span.descr__count 7:7

                    span.descr__date 03.04.2018
                    p.descr__about Siegl Horst, Siegl Horst ml, Kouba Petr, Novotný Jiří, Jarošík Jiří, Matonoha Tomáš, Suchařípa David, Šíp Karel, Hrdina Jiří, Vetchý Ondřej, Panenka Antonín.

                    a(href='#').descr__more
                        span vice

            .matches__wrapper--element
                .photo
                    img(src='img/match_1.png' alt='photo')
                    span.photo__count 7:5

                .descr
                    h3.descr__title
                        span.descr__title--date 14.6 2009
                        span.descr__title--teams   SIGI TEAM – HÁŠA TEAM (90LET LIPENCE)
                    span.descr__count 7:5

                    span.descr__date 03.04.2018
                    p.descr__about Siegl Horst, Siegl Horst ml, Kouba Petr, Novotný Jiří, Jarošík Jiří, Matonoha Tomáš, Suchařípa David, Šíp Karel, Hrdina Jiří, Vetchý Ondřej, Panenka Antonín.

                    a(href='#').descr__more
                        span vice

            .matches__wrapper--element
                .photo
                    img(src='img/match_1.png' alt='photo')
                    span.photo__count 0:3

                .descr
                    h3.descr__title
                        span.descr__title--date 14.6 2009
                        span.descr__title--teams   SIGI TEAM – HÁŠA TEAM (90LET LIPENCE)
                    span.descr__count 0:3

                    span.descr__date 03.04.2018
                    p.descr__about Siegl Horst, Siegl Horst ml, Kouba Petr, Novotný Jiří, Jarošík Jiří, Matonoha Tomáš, Suchařípa David, Šíp Karel, Hrdina Jiří, Vetchý Ondřej, Panenka Antonín.

                    a(href='#').descr__more
                        span vice

            .matches__wrapper--element
                .photo
                    img(src='img/match_1.png' alt='photo')
                    span.photo__count 7:5

                .descr
                    h3.descr__title
                        span.descr__title--date 14.6 2009
                        span.descr__title--teams   SIGI TEAM – HÁŠA TEAM (90LET LIPENCE)
                    span.descr__count 7:5

                    span.descr__date 03.04.2018
                    p.descr__about Siegl Horst, Siegl Horst ml, Kouba Petr, Novotný Jiří, Jarošík Jiří, Matonoha Tomáš, Suchařípa David, Šíp Karel, Hrdina Jiří, Vetchý Ondřej, Panenka Antonín.

                    a(href='#').descr__more
                        span vice

            .matches__wrapper--element
                .photo
                    img(src='img/match_1.png' alt='photo')
                    span.photo__count 0:3

                .descr
                    h3.descr__title
                        span.descr__title--date 14.6 2009
                        span.descr__title--teams   SIGI TEAM – HÁŠA TEAM (90LET LIPENCE)
                    span.descr__count 0:3

                    span.descr__date 03.04.2018
                    p.descr__about Siegl Horst, Siegl Horst ml, Kouba Petr, Novotný Jiří, Jarošík Jiří, Matonoha Tomáš, Suchařípa David, Šíp Karel, Hrdina Jiří, Vetchý Ondřej, Panenka Antonín.

                    a(href='#').descr__more
                        span vice

            .matches__wrapper--element
                .photo
                    img(src='img/match_1.png' alt='photo')
                    span.photo__count 7:5

                .descr
                    h3.descr__title
                        span.descr__title--date 14.6 2009
                        span.descr__title--teams   SIGI TEAM – HÁŠA TEAM (90LET LIPENCE)
                    span.descr__count 7:5

                    span.descr__date 03.04.2018
                    p.descr__about Siegl Horst, Siegl Horst ml, Kouba Petr, Novotný Jiří, Jarošík Jiří, Matonoha Tomáš, Suchařípa David, Šíp Karel, Hrdina Jiří, Vetchý Ondřej, Panenka Antonín.

                    a(href='#').descr__more
                        span vice

            ul.pagination
                li
                    a
                        img(src='img/icons/arr-left-icon.png')
                li
                    a 1
                li
                    a 2
                li
                    a 3
                li
                    a 4
                li
                    a 5
                li
                    a 6
                li
                    a
                        img(src='img/icons/arr-right-icon.png')