section.matches

    .container

        h1.matches__title Zapasy

        .matches__wrapper

            .matches__wrapper--element
                .photo
                    img(src='img/match_1.png' alt='photo')
                    span 7:7

                .descr
                    h3.descr__title
                        span.descr__title--date 14.6 2009
                        span.descr__title--teams SIGI TEAM – HÁŠA TEAM (90LET LIPENCE)

                    span.descr__date 03.04.2018
                    p.descr__about Siegl Horst, Siegl Horst ml, Kouba Petr, Novotný Jiří, Jarošík Jiří, Matonoha Tomáš, Suchařípa David, Šíp Karel, Hrdina Jiří, Vetchý Ondřej, Panenka Antonín.

                    a(href='#').descr__more vice