section.school
    .container
        h1.school__title Fotbalova skola
                b Horsta Siegla

        .school__wrapper
            .school__wrapper--item
                .photo
                    img(src='img/photo_1.png')

                h3.title Sigi team vs
                    b Cechtice
                p.date 16.06.2017 - TJ Sokol Cechtice

                .text
                    p Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Suspendisse sagittis ultrices augue. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Proin in tellus sit amet nibh dignissim sagittis. Aliquam erat volutpat. Duis risus. Etiam

                a(href='news.html').more
                    span vice

            .school__wrapper--item
                .photo
                    img(src='img/photo_2.png')

                h3.title Sigi team vs
                    b Cechtice
                p.date 16.06.2017 - TJ Sokol Cechtice

                .text
                    p Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Suspendisse sagittis ultrices augue. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Proin in tellus sit amet nibh dignissim sagittis. Aliquam erat volutpat. Duis risus. Etiam

                a(href='news.html').more
                    span vice

            .school__wrapper--item
                .photo
                    img(src='img/photo_3.png')

                h3.title Sigi team vs
                    b Cechtice
                p.date 16.06.2017 - TJ Sokol Cechtice

                .text
                    p Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Suspendisse sagittis ultrices augue. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Proin in tellus sit amet nibh dignissim sagittis. Aliquam erat volutpat. Duis risus. Etiam

                a(href='news.html').more
                    span vice

            .school__wrapper--item
                .photo
                    img(src='img/photo_4.png')

                h3.title Sigi team vs
                    b Cechtice
                p.date 16.06.2017 - TJ Sokol Cechtice

                .text
                    p Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Suspendisse sagittis ultrices augue. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Proin in tellus sit amet nibh dignissim sagittis. Aliquam erat volutpat. Duis risus. Etiam

                a(href='news.html').more
                    span vice

    .separator
        img(src='img/separator-bg.png')
