section.top-banner
    .container
        .top-banner__descr
            h1.top-banner__title Sigi Team
                b na cestash

            p.top-banner__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa debitis deserunt dicta dolorem dolorum earum excepturi explicabo maiores necessitatibus numquam possimus provident quam repudiandae rerum, sit, suscipit.
