section.top-banner
    .container
        .top-banner__partners
            a.top-banner__partner
                img(src='img/partner-logo.png')
        .top-banner__descr
            h1.top-banner__title
                | Sigi Team
                b na cestash

            p.top-banner__subtitle Navzdory všeobecnému přesvědčení Lorem Ipsum není náhodný text. Jeho původ má kořeny v klasické latinské literatuře z roku 45 před Kristem, což znamená, že je více jak 2000 let staré. Richard