@charset "utf-8";

@font-face {
  font-family: 'Generic';
  src: url("../fonts/Generic/GenericFont.eot") format("embedded-opentype"), url("../fonts/Generic/GenericFont.woff2") format("woff2"), url("../fonts/Generic/GenericFont.woff") format("woff"), url("../fonts/Generic/GenericFont.ttf") format("truetype"), url("../fonts/Generic/GenericFont.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Regular';
  src: url("../fonts/ProximaNova/ProximaNovaRegular.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaRegular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaRegular.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Semibold';
  src: url("../fonts/ProximaNova/ProximaNovaSemibold.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaSemibold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaSemibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaSemibold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaSemibold.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Bold';
  src: url("../fonts/ProximaNova/ProximaNovaBold.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaBold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaBold.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Light';
  src: url("../fonts/ProximaNova/ProximaNovaLight.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaLight.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaLight.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaLight.svg") format("svg");
  font-weight: 400;
}

html {
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: "ProximaNova Regular";
  text-align: left;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  cursor: pointer;
}

.separator {
  width: 100%;
  overflow: hidden;
}

.separator img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.facebook {
  background-image: url("../img/icons/fb-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.instagram {
  background-image: url("../img/icons/ins-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.twitter {
  background-image: url("../img/icons/tw-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.youtube {
  background-image: url("../img/icons/yt-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.preloader-wrap {
  position: fixed;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  z-index: 10200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.preloader-wrap .preloader {
  margin: auto;
  text-align: center;
}

.preloader-wrap .preloader .c-gif {
  max-width: 100%;
}

.header__navigation {
  position: relative;
  float: left;
  width: -webkit-calc(100% - 125px);
  width: calc(100% - 125px);
  width: -moz-calc(100% - 125px);
  background-color: #a1865a;
  margin-top: 44px;
}

@media (max-width: 990px) {
  .header__navigation {
    margin-top: 15px;
  }
}

@media (max-width: 660px) {
  .header__navigation {
    width: 100%;
    margin-top: 10px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 120px;
  padding-right: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 990px) {
  .header__nav {
    padding: 0;
  }
}

@media (max-width: 660px) {
  .header__nav {
    padding: 0;
    display: none;
  }
}

@media (max-width: 660px) {
  .header__nav > li {
    width: 100%;
  }
}

.header__nav > li > a {
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
  text-transform: uppercase;
  text-align: center;
  color: #050c08;
  font-size: 17px;
  font-family: "ProximaNova Bold";
}

.header__nav > li > a:after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@media (max-width: 660px) {
  .header__nav > li > a {
    width: 100%;
  }
}

.header__nav > li > a:hover:after {
  width: 100%;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 156px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 990px) {
  .header__submenu {
    padding: 0;
  }
}

@media (max-width: 660px) {
  .header__submenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    display: none;
  }
}

.header__submenu > li {
  -webkit-box-flex: 3;
  -ms-flex: 3 0 0%;
  flex: 3 0 0%;
  position: relative;
  float: left;
}

@media (max-width: 990px) {
  .header__submenu > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
  }
}

@media (max-width: 660px) {
  .header__submenu > li {
    width: 100%;
  }
}

.header__submenu > li:nth-of-type(2) a {
  margin-left: 30px;
}

@media (max-width: 660px) {
  .header__submenu > li:nth-of-type(2) a {
    margin-left: 0;
    width: 100%;
  }
}

.header__submenu > li:nth-of-type(3),
.header__submenu > li:nth-of-type(4),
.header__submenu > li:nth-of-type(5),
.header__submenu > li:nth-of-type(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 0%;
  flex: 2 0 0%;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 660px) {
  .header__submenu > li:nth-of-type(3),
  .header__submenu > li:nth-of-type(4),
  .header__submenu > li:nth-of-type(5),
  .header__submenu > li:nth-of-type(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.header__submenu > li:nth-of-type(3) > a,
.header__submenu > li:nth-of-type(4) > a,
.header__submenu > li:nth-of-type(5) > a,
.header__submenu > li:nth-of-type(6) > a {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 660px) {
  .header__submenu > li:nth-of-type(3) > a,
  .header__submenu > li:nth-of-type(4) > a,
  .header__submenu > li:nth-of-type(5) > a,
  .header__submenu > li:nth-of-type(6) > a {
    width: auto;
  }
}

.header__submenu > li > a {
  position: relative;
  float: left;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #fffef6;
  font-size: 16px;
}

@media (max-width: 660px) {
  .header__submenu > li > a {
    margin-left: 0;
    width: 100%;
  }
}

.header__submenu > li > a > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  float: left;
  width: 31px;
  height: 31px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fffef6;
  -webkit-box-shadow: 0px 0px 0px 1px #fffef6 inset;
  box-shadow: 0px 0px 0px 1px #fffef6 inset;
}

.header__submenu > li > a > span .fa {
  color: #a1865a;
  font-size: 22px;
}

.header__submenu > li > a > span img,
.header__submenu > li > a > span svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__submenu > li > a:hover span {
  background-color: #a1865a;
  -webkit-box-shadow: 0px 0px 0px 1px #fffef6 inset;
  box-shadow: 0px 0px 0px 1px #fffef6 inset;
}

.header__submenu > li > a:hover span .fa {
  color: #fff;
}

.header__trigger {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -70px;
  right: 12px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 15;
  cursor: pointer;
}

@media (max-width: 660px) {
  .header__trigger {
    display: block;
  }
}

.header__trigger span {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}

.header__trigger span:first-of-type {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -6px;
  content: '';
}

.header__trigger span:last-of-type {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
  content: '';
}

.header__trigger.js-trigger-active {
  background-color: #a1865a;
}

.header__trigger.js-trigger-active span:nth-of-type(2) {
  display: none;
}

.header__trigger.js-trigger-active span {
  background-color: #fff;
}

.header__trigger.js-trigger-active span:first-of-type {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 0;
}

.header__trigger.js-trigger-active span:last-of-type {
  -webkit-transform: rotate(-134deg);
  -ms-transform: rotate(-134deg);
  transform: rotate(-134deg);
  margin-top: 0;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
  background-color: #101211;
}

@media (max-width: 660px) {
  .header {
    background-color: #101211;
  }
}

.header__logo {
  position: relative;
  float: left;
  width: 125px;
  height: 140px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 660px) {
  .header__logo {
    width: 75px;
    height: 65px;
    margin-left: 25px;
  }
}

.header__logo img,
.header__logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.top-banner {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  margin-top: -155px;
  background-image: url("../img/top-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 990px) {
  .top-banner {
    height: 60vh;
  }
}

@media (max-width: 660px) {
  .top-banner {
    display: none;
  }
}

.top-banner:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.top-banner__descr {
  position: relative;
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-top: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #fffef6;
  border-bottom: 2px solid #fffef6;
}

@media (max-width: 990px) {
  .top-banner__descr {
    width: 70%;
  }
}

.top-banner__title {
  position: relative;
  float: left;
  width: 100%;
  font-family: "ProximaNova Light";
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fffef6;
  text-align: justify;
  text-transform: uppercase;
}

.top-banner__title > b {
  margin-left: 10px;
  color: #fffef6;
  text-transform: lowercase;
  font-family: "ProximaNova Bold";
}

.top-banner__subtitle {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  font-family: "ProximaNova Light";
  font-size: 16px;
  color: #fffef6;
  text-align: justify;
}

.school {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fcfaeb;
}

.school .container {
  text-align: center;
}

.school__title {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #4a5b8f;
  font-family: "ProximaNova Light";
  font-size: 22px;
  color: #4a5b8f;
}

.school__title b {
  padding-left: 6px;
  font-family: "ProximaNova Bold";
  color: #938c4e;
}

.school__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 70px;
}

@media (max-width: 660px) {
  .school__wrapper {
    margin-bottom: 0;
  }
}

.school__wrapper--item {
  position: relative;
  float: left;
  width: -webkit-calc(25% - 25px);
  width: calc(25% - 25px);
  width: -moz-calc(25% - 25px);
}

@media (max-width: 660px) {
  .school__wrapper--item {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    margin-bottom: 50px;
  }
}

.school__wrapper--item .photo {
  position: relative;
  float: left;
  width: 100%;
  height: 190px;
  overflow: hidden;
}

.school__wrapper--item .photo img,
.school__wrapper--item .photo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.school__wrapper--item .title {
  position: relative;
  float: left;
  width: 100%;
  font-size: 26px;
  font-family: "ProximaNova Light";
  text-align: justify;
  color: #4a5b8f;
  margin-top: 20px;
  margin-bottom: 0;
}

.school__wrapper--item .title b {
  padding-left: 6px;
  font-family: "ProximaNova Bold";
}

.school__wrapper--item .date {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 18px;
  color: #aba266;
}

.school__wrapper--item .text {
  display: block;
  display: -webkit-box;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.2;
  height: 153.6px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.school__wrapper--item .text > p {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  text-align: justify;
  font-size: 16px;
  color: #3e3c3f;
}

@media (max-width: 1025px) {
  .school__wrapper--item .text > p {
    margin-bottom: 40px;
  }
}

.school__wrapper--item .more {
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  padding: 10px;
  background-color: #fcfaeb;
  text-align: center;
  z-index: 1;
}

.school__wrapper--item .more span {
  background-color: #78a1c0;
  padding: 5px 22px;
  font-size: 18px;
  font-style: italic;
  color: #fff;
}

.school__wrapper--item .more span:after {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 11px solid #78a1c0;
  border-bottom: 16px solid transparent;
}

.features {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  margin-top: -5px;
}

.features__bg {
  position: absolute;
  width: 100%;
  top: 22%;
  left: 0;
}

@media (max-width: 660px) {
  .features__bg {
    display: none;
  }
}

.features__bg img,
.features__bg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.features .container {
  text-align: center;
}

.features__title {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #a98c5d;
  font-family: "ProximaNova Bold";
  font-size: 22px;
  color: #a98c5d;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 90px;
}

.features__wrapper--item {
  position: relative;
  float: left;
  width: -webkit-calc(30% - 25px);
  width: calc(30% - 25px);
  width: -moz-calc(30% - 25px);
}

@media (max-width: 660px) {
  .features__wrapper--item {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    margin-bottom: 50px;
  }
}

.features__wrapper--item .photo {
  position: relative;
  float: left;
  width: 228px;
  height: 260px;
  overflow: hidden;
}

.features__wrapper--item .photo img,
.features__wrapper--item .photo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.features__wrapper--item .title {
  position: relative;
  float: left;
  width: 100%;
  font-size: 26px;
  font-family: "ProximaNova Light";
  text-align: justify;
  color: #aba266;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features__wrapper--item .text {
  display: block;
  display: -webkit-box;
  position: relative;
  float: left;
  width: 100%;
  text-align: justify;
  font-size: 16px;
  color: #3e3c3f;
  line-height: 1.2;
  height: 153.6px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 15px;
}

.features__wrapper--item .text > p {
  display: block;
  display: -webkit-box;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  text-align: justify;
  font-size: 16px;
  color: #3e3c3f;
  line-height: 1.2;
  height: 153.6px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) {
  .features__wrapper--item .text > p {
    margin-bottom: 40px;
  }
}

@media (max-width: 660px) {
  .features__wrapper--item .text > p {
    margin-bottom: 30px;
  }
}

.features__wrapper--item .more {
  display: block;
  position: absolute;
  left: -9px;
  bottom: 0;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  z-index: 1;
}

.features__wrapper--item .more span {
  background-color: #000;
  padding: 5px 22px;
  font-size: 18px;
  color: #fff;
}

.features__wrapper--item .more span:after {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 11px solid #000;
  border-bottom: 16px solid transparent;
}

.person {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fcfaeb;
}

.person__title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #aba266;
}

.person__photo {
  position: relative;
  float: left;
  width: 266px;
  height: 366px;
  overflow: hidden;
  margin-left: -webkit-calc(50% - 133px);
  margin-left: calc(50% - 133px);
  margin-left: -moz-calc(50% - 133px);
}

.person__photo img,
.person__photo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.person__descr-title {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.person__subtitle {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  color: #000;
  font-size: 20px;
  font-family: "ProximaNova Bold";
}

.person__descr {
  position: relative;
  float: left;
  width: 100%;
  text-align: justify;
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.person__list {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.person__list li {
  position: relative;
  float: left;
  width: 100%;
  text-align: justify;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.person .separator {
  margin-top: 30px;
  margin-bottom: -6px;
}

.person__others {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
}

.person__others .features__bg {
  position: absolute;
  width: 100%;
  top: 6%;
  left: 0;
}

.news {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fcfaeb;
}

.news__title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #4a5b8f;
}

.news__subtitle {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: #aba266;
}

.news__images {
  position: relative;
  float: left;
  width: 450px;
}

@media (max-width: 660px) {
  .news__images {
    width: 100%;
  }
}

.news__images--item {
  position: relative;
  float: left;
  width: 450px;
  height: 350px;
  overflow: hidden;
}

@media (max-width: 660px) {
  .news__images--item {
    width: 100%;
    height: 250px;
  }
}

.news__images--item img,
.news__images--item svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.news__descr {
  position: relative;
  float: left;
  width: -webkit-calc(100% - 450px);
  width: calc(100% - 450px);
  width: -moz-calc(100% - 450px);
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 660px) {
  .news__descr {
    width: 100%;
    padding-left: 0;
  }
}

.news__descr p {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.news .separator {
  margin-top: 30px;
  margin-bottom: -6px;
}

.news__others {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
}

.news__others .school__wrapper--item .more {
  background-color: #fff;
}

.footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #101211;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  float: left;
  width: 20%;
}

@media (max-width: 660px) {
  .footer__logo {
    width: 100%;
  }
}

.footer__logo .logo {
  position: relative;
  float: left;
  width: 125px;
  height: 140px;
  overflow: hidden;
  margin-top: 15px;
}

@media (max-width: 660px) {
  .footer__logo .logo {
    width: 75px;
    height: 65px;
    margin-left: 25px;
  }
}

.footer__logo .logo img,
.footer__logo .logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer__logo--title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  color: #d6b780;
  font-size: 18px;
  font-family: "ProximaNova Bold";
  text-transform: uppercase;
}

.footer__logo--address {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  color: #d6b780;
  font-size: 18px;
  font-family: "ProximaNova Regular";
  text-transform: uppercase;
}

.footer__logo--call {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  color: #d6b780;
  font-size: 18px;
  font-family: "ProximaNova Regular";
  text-transform: uppercase;
}

.footer__logo--call:last-of-type {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 660px) {
  .footer__logo--call:last-of-type {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  float: left;
  width: 25%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 660px) {
  .footer__element {
    width: 100%;
  }
}

.footer__element--title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 22px;
  text-align: left;
  color: #fffef6;
  font-size: 18px;
  font-family: "ProximaNova Bold";
  text-transform: uppercase;
}

@media (max-width: 660px) {
  .footer__element--title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.footer__element--menu {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__element--menu li > a {
  position: relative;
  float: left;
  width: 100%;
  line-height: 2.0;
  text-align: left;
  color: #fffef6;
  font-size: 18px;
  font-family: "ProximaNova Regular";
  text-transform: uppercase;
}

.footer__element--menu li > a.footer__element--email {
  text-transform: lowercase;
}

.footer__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  float: left;
  width: 196px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 660px) {
  .footer__partner {
    width: 100%;
  }
}

.footer__partner--title {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 22px;
  text-align: left;
  color: #fffef6;
  font-size: 18px;
  font-family: "ProximaNova Bold";
  text-transform: uppercase;
}

@media (max-width: 660px) {
  .footer__partner--title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.footer__partner--partner {
  position: relative;
  float: left;
  width: 116px;
  height: 30px;
  overflow: hidden;
  margin-top: 10px;
}

.footer__partner--partner img,
.footer__partner--partner svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  float: left;
  width: -webkit-calc(30% - 196px);
  width: calc(30% - 196px);
  margin-top: 43px;
}

@media (max-width: 990px) {
  .footer__socials {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 20px;
  }
}

@media (max-width: 660px) {
  .footer__socials {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }
}

.footer__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fffef6;
  -webkit-box-shadow: 0px 0px 0px 1px #fffef6 inset;
  box-shadow: 0px 0px 0px 1px #fffef6 inset;
}

.footer__socials a .fa {
  color: #a1865a;
  font-size: 22px;
}

.footer__socials a:hover .fa {
  color: #000;
}

.footer__art {
  position: absolute;
  bottom: 53px;
  right: 0;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 990px) {
  .footer__art {
    position: relative;
    float: left;
    right: inherit;
    bottom: inherit;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 660px) {
  .footer__art {
    position: relative;
    float: left;
    right: inherit;
    bottom: inherit;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.overlay {
  z-index: 4;
  position: fixed;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.modal__contacts {
  display: none;
  position: fixed;
  width: 580px;
  background-color: rgba(24, 24, 27, 0.8);
  border-radius: 5px;
  top: 25%;
  margin-left: -webkit-calc(50% - 290px);
  margin-left: calc(50% - 290px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 29px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .modal__contacts {
    width: 100%;
    margin-left: 0;
  }
}

.modal__contacts--title {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "ProximaNova Bold";
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.modal__contacts a {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
  line-height: 1.3;
  margin: 5px 0;
  color: #fffef6;
  font-size: 18px;
}

/*# sourceMappingURL=styles.css.map */
