@font-face {
  font-family: 'Generic';
  src: url("../fonts/Generic/GenericFont.eot") format("embedded-opentype"), url("../fonts/Generic/GenericFont.woff2") format("woff2"), url("../fonts/Generic/GenericFont.woff") format("woff"), url("../fonts/Generic/GenericFont.ttf") format("truetype"), url("../fonts/Generic/GenericFont.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Regular';
  src: url("../fonts/ProximaNova/ProximaNovaRegular.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaRegular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaRegular.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Semibold';
  src: url("../fonts/ProximaNova/ProximaNovaSemibold.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaSemibold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaSemibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaSemibold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaSemibold.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Bold';
  src: url("../fonts/ProximaNova/ProximaNovaBold.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaBold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaBold.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova Light';
  src: url("../fonts/ProximaNova/ProximaNovaLight.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaLight.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaLight.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaLight.svg") format("svg");
  font-weight: 400;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: "ProximaNova Regular";
  text-align: left;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  cursor: pointer;
}

.separator {
  width: 100%;
  overflow: hidden;
}

.separator img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__navigation {
  position: relative;
  float: left;
  width: -webkit-calc(100% - 125px);
  width: calc(100% - 125px);
  width: -moz-calc(100% - 125px);
  background-color: #a1865a;
  margin-top: 44px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 120px;
  padding-right: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__nav > li > a {
  position: relative;
  float: left;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  color: #050c08;
  font-size: 20px;
  font-family: "ProximaNova Bold";
}

.header__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 156px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__submenu > li {
  -webkit-box-flex: 3;
  -ms-flex: 3 0 0%;
  flex: 3 0 0%;
  position: relative;
  float: left;
}

.header__submenu > li:nth-of-type(2) a {
  margin-left: 30px;
}

.header__submenu > li:nth-of-type(3),
.header__submenu > li:nth-of-type(4),
.header__submenu > li:nth-of-type(5),
.header__submenu > li:nth-of-type(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 0%;
  flex: 2 0 0%;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__submenu > li:nth-of-type(3) > a,
.header__submenu > li:nth-of-type(4) > a,
.header__submenu > li:nth-of-type(5) > a,
.header__submenu > li:nth-of-type(6) > a {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.header__submenu > li > a {
  position: relative;
  float: left;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #fffef6;
  font-size: 20px;
}

.header__submenu > li > a > span {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fffef6;
}

.header__submenu > li > a > span img,
.header__submenu > li > a > span svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
}

.header__logo {
  position: relative;
  float: left;
  width: 125px;
  height: 140px;
  overflow: hidden;
  margin-top: 15px;
}

.header__logo img,
.header__logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.top-banner {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  margin-top: -155px;
  background-image: url("../img/top-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-banner:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.top-banner__descr {
  position: relative;
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-top: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #fffef6;
  border-bottom: 2px solid #fffef6;
}

.top-banner__title {
  position: relative;
  float: left;
  width: 100%;
  font-family: "ProximaNova Light";
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fffef6;
  text-align: justify;
  text-transform: uppercase;
}

.top-banner__title > b {
  margin-left: 10px;
  color: #fffef6;
  text-transform: lowercase;
  font-family: "ProximaNova Bold";
}

.top-banner__subtitle {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  font-family: "ProximaNova Light";
  font-size: 16px;
  color: #fffef6;
  text-align: justify;
}

.school {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fcfaeb;
}

.school .container {
  text-align: center;
}

.school__title {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #4a5b8f;
  font-family: "ProximaNova Light";
  font-size: 22px;
  color: #4a5b8f;
}

.school__title b {
  padding-left: 6px;
  font-family: "ProximaNova Bold";
  color: #938c4e;
}

.school__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 70px;
}

.school__wrapper--item {
  position: relative;
  float: left;
  width: -webkit-calc(25% - 25px);
  width: calc(25% - 25px);
  width: -moz-calc(25% - 25px);
}

.school__wrapper--item .photo {
  position: relative;
  float: left;
  width: 100%;
  height: 190px;
  overflow: hidden;
}

.school__wrapper--item .photo img,
.school__wrapper--item .photo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.school__wrapper--item .title {
  position: relative;
  float: left;
  width: 100%;
  font-size: 26px;
  font-family: "ProximaNova Light";
  text-align: justify;
  color: #4a5b8f;
  margin-top: 20px;
  margin-bottom: 0;
}

.school__wrapper--item .title b {
  padding-left: 6px;
  font-family: "ProximaNova Bold";
}

.school__wrapper--item .date {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 18px;
  color: #aba266;
}

.school__wrapper--item .text {
  display: block;
  display: -webkit-box;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 16px;
  color: #3e3c3f;
  line-height: 1.2;
  height: 153.6px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.school__wrapper--item .more {
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  z-index: 1;
}

.school__wrapper--item .more span {
  background-color: #78a1c0;
  padding: 5px 22px;
  font-size: 18px;
  font-style: italic;
  color: #fff;
}

.school__wrapper--item .more span:after {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 11px solid #78a1c0;
  border-bottom: 16px solid transparent;
}

.features {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  margin-top: -5px;
}

.features .container {
  text-align: center;
}

.features__title {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #a98c5d;
  font-family: "ProximaNova Bold";
  font-size: 22px;
  color: #a98c5d;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 90px;
}

.features__wrapper--item {
  position: relative;
  float: left;
  width: -webkit-calc(30% - 25px);
  width: calc(30% - 25px);
  width: -moz-calc(30% - 25px);
}

.features__wrapper--item .photo {
  position: relative;
  float: left;
  width: 228px;
  height: 260px;
  overflow: hidden;
}

.features__wrapper--item .photo img,
.features__wrapper--item .photo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.features__wrapper--item .title {
  position: relative;
  float: left;
  width: 100%;
  font-size: 26px;
  font-family: "ProximaNova Light";
  text-align: justify;
  color: #aba266;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features__wrapper--item .text {
  display: block;
  display: -webkit-box;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 16px;
  color: #3e3c3f;
  line-height: 1.2;
  height: 153.6px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.features__wrapper--item .more {
  display: block;
  position: absolute;
  left: -9px;
  bottom: 0;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  z-index: 1;
}

.features__wrapper--item .more span {
  background-color: #000;
  padding: 5px 22px;
  font-size: 18px;
  color: #fff;
}

.features__wrapper--item .more span:after {
  display: block;
  position: absolute;
  content: '';
  right: 0;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 11px solid #000;
  border-bottom: 16px solid transparent;
}

/*# sourceMappingURL=styles.css.map */
