.header {
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
  background-color: #101211;

  &.js-head-bg {
    background-color: transparent;

    @include breakpoint(max-width 700px) {
      background-color: #101211;
    }
  }

  @include breakpoint(max-width 700px) {
    background-color: #101211;
  }

  &__bg{
    position: absolute;
    content: '';
    left: -88px;
    top: 37px;
    width: 116%;
    height: 56%;
    overflow: hidden;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;

    @include breakpoint (max-width 1024px){
      width: 100%;
      height: 105px;
      left: -13px;
    }

    @include breakpoint (max-width 770px){
      top: 16px;
    }

    @include breakpoint (max-width 700px){
      display: none;
    }
    
  }

  &__logo {
    position: relative;
    float: left;
    width: 125px;
    height: 140px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 2;

    @include breakpoint(max-width 700px) {
      width: 75px;
      height: 65px;
      margin-left: 25px;
    }

    img, svg {
      size: 100%;
      object-fit: contain;
    }
  }
}