.features {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  margin-top: -8px;
  margin-bottom: 30px;

  &__bg {
    position: absolute;
    width: 100%;
    top: 166px;
    left: 0;

    @include breakpoint(max-width 670px) {
      display: none;
    }

    img, svg {
      size: 100%;
      object-fit: contain;
    }

  }

  .container {
    text-align: center;
  }

  &__title {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    @include box-sizing(border-box);
    text-align: center;
    border-bottom: 1px solid #a98c5d;
    color: #b19359;
    font-size: 28px;
    font-weight: 900;
  }

  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 90px;

    &--item {
      position: relative;
      float: left;
      width: calc(30% - 25px);
      width: -moz-calc(30% - 25px);

      @include breakpoint(max-width 670px) {
        width: calc(100% - 10px);
        width: -moz-calc(100% - 10px);
        margin-bottom: 50px;
      }

      .photo {
        position: relative;
        float: left;
        width: 228px;
        height: 260px;
        overflow: hidden;

        @include breakpoint(max-width 990px) {
          width: 100%;
        }

        @include breakpoint(max-width 770px) {
          width: 100%;
          height: 155px;
        }

        img, svg {
          size: 100%;
          object-fit: contain;
        }
      }

      .title {
        position: relative;
        float: left;
        width: 100%;
        color: #b19359;
        font-size: 24px;
        font-weight: 400;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .text {
        display: block;
        display: -webkit-box;
        position: relative;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.6;
        height: calc(13px * 1.6 * 6);
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin-top: 0;
        margin-bottom: 15px;

        > p {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          margin: 0;
          text-align: justify;
          font-weight: 400;
          font-size: 13px;
          line-height: 1.6;
          height: calc(13px * 1.6 * 6);

          @include breakpoint(max-width 1024px) {
            margin-bottom: 40px;
          }

          @include breakpoint(max-width 660px) {
            margin-bottom: 30px;
          }

        }

      }

      .more {
        display: block;
        position: absolute;
        left: -9px;
        bottom: -35px;
        padding: 10px;
        background-color: #fff;
        text-align: center;
        z-index: 1;

        span {
          background-image: url('../img/icons/more-trener-bg-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 22px;
          padding-right: 30px;
          font-size: 13px;
          font-weight: 900;
          line-height: 20px;
          color: #fff;
        }
      }
    }
  }
}