.school {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fcfaeb;

  .container {
    text-align: center;
  }

  &__title {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    @include box-sizing(border-box);
    text-align: center;
    border-bottom: 1px solid #4a5b8f;
    font-family: $ProximaNovaLight;
    font-size: 22px;
    color: #4a5b8f;

    b {
      padding-left: 6px;
      font-family: $ProximaNovaBold;
      color: #938c4e;
    }

  }

  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-around);
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 70px;

    @include breakpoint(max-width 660px) {
      margin-bottom: 0;
    }

    &--item {
      position: relative;
      float: left;
      width: calc(25% - 25px);
      width: -moz-calc(25% - 25px);

      @include breakpoint(max-width 660px) {
        width: calc(100% - 10px);
        width: -moz-calc(100% - 10px);
        margin-bottom: 50px;
      }

      .photo {
        position: relative;
        float: left;
        width: 100%;
        height: 190px;
        overflow: hidden;

        @include breakpoint(max-width 700px){
          height: auto;
        }

        img, svg {
          size: 100%;
          object-fit: cover;
        }

      }

      .title {
        position: relative;
        float: left;
        width: 100%;
        font-size: 26px;
        font-family: $ProximaNovaLight;
        text-align: justify;
        color: #4a5b8f;
        margin-top: 20px;
        margin-bottom: 0;

        @include breakpoint(max-width 770px) {
          font-size: 16px;
        }

        b {
          padding-left: 6px;
          font-family: $ProximaNovaBold;
        }

      }

      .date {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: justify;
        font-size: 18px;
        color: #aba266;

        @include breakpoint(max-width 770px) {
          font-size: 16px;
        }

      }

      .text {
        display: block;
        display: -webkit-box;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: justify;
        line-height: 1.2;
        height: calc(16px * 1.2 * 6);
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @include breakpoint(max-width 770px) {
          height: calc(14px * 1.2 * 4);
          -webkit-line-clamp: 4;
        }

        > p {
          display: block;
          //display: -webkit-box;
          position: relative;
          float: left;
          width: 100%;
          margin: 0;
          text-align: justify;
          font-size: 16px;
          color: #3e3c3f;

          @include breakpoint(max-width 1025px) {
            margin-bottom: 40px;
          }

          @include breakpoint(max-width 770px) {
            font-size: 14px;
          }
        }
      }

      .more {
        display: block;
        position: absolute;
        right: 0;
        bottom: -5px;
        padding: 10px;
        background-color: #fcfaeb;
        text-align: center;
        z-index: 1;

        @include breakpoint(max-width 770px) {
          position: relative;
          float: left;
          right: 0;
          bottom: 0;
        }

        span {
          background-image: url('../img/icons/more-post-bg-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size:  100% 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 22px;
          padding-right: 30px;
          font-size: 18px;
          font-style: italic;
          color: #fff;
        }
      }

    }
  }
}