doctype html
html
    head(lang='en')
        include ../html_open

    body
        include ../header
        include ../top-banner
        include ../school
        include ../features
        include ../footer
        include ../html_close