a {
  cursor: pointer;
}

.separator {
  width: 100%;
  overflow: hidden;

  img {
    size: 100%;
    object-fit: contain;
  }

}

.facebook {
  background-image: url('../img/icons/fb-icon.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.instagram {
  background-image: url('../img/icons/ins-icon.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.twitter {
  background-image: url('../img/icons/tw-icon.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.youtube {
  background-image: url('../img/icons/yt-icon.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.preloader-wrap{
  position: fixed;
  opacity: 1;
  z-index: 10200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #000;
  .preloader{
    margin: auto;
    text-align: center;
    .c-gif{
      max-width: 100%;
    }
  }
}