.footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #000;

  .container:before {
    position: absolute;
    content: '';
    height: 25px;
    width: 18%;
    top: -19px;
    left: -2%;
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;

    @include breakpoint(max-width 1330px) {
      display: none;
    }

  }

  .logo {
    position: absolute;
    float: left;
    width: calc(100% + 150px);
    width: -moz-calc(100% + 150px);
    left: -75px;
    height: 140px;
    overflow: hidden;
    margin-top: 13px;

    @include breakpoint(max-width 1330px) {
      width: 100%;
      left: 0;
    }

    @include breakpoint(max-width 1024px) {
      width: 100%;
      left: 0;
    }

    @include breakpoint(max-width 770px) {
      width: 100%;
      left: 0;
    }

    @include breakpoint(max-width 670px) {
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      margin-top: 0;
      left: 0;
    }

    img, svg {
      size: 100%;
      object-fit: contain;
    }
  }

  &__logo {
    @include display-flex(flex);
    @include flex-direction(column);
    position: relative;
    float: left;
    width: 20%;

    @include breakpoint(max-width 670px) {
      width: 100%;
      padding-left: 30px;
      @include box-sizing(border-box);
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 177px;
      margin-bottom: 0;
      color: #d8ba84;
      font-weight: 900;
      font-size: 11px;
      text-transform: uppercase;

      @include breakpoint(max-width 670px) {
        margin-top: 0;
      }

    }

    &--address {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      color: #d8ba84;
      font-weight: 900;
      font-size: 11px;
      text-transform: uppercase;
    }

    &--ico {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      color: #d8ba84;
      font-weight: 900;
      font-size: 11px;
      text-transform: uppercase;

      @include breakpoint(max-width 670px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &--call {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 50px;
      color: #d8ba84;
      font-weight: 900;
      font-size: 11px;
      text-transform: uppercase;

      @include breakpoint(max-width 670px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  &__element {
    @include display-flex(flex);
    @include flex-direction(column);
    position: relative;
    float: left;
    width: 25%;
    padding-left: 30px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 670px) {
      width: 100%;
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 47px;
      margin-bottom: 22px;
      text-align: left;
      color: black;
      font-size: 13px;
      font-weight: 900;
      text-transform: uppercase;

      @include breakpoint(max-width 990px) {
        margin-top: 60px;
      }

      @include breakpoint(max-width 670px) {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &--menu {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      margin-top: 10px;
      padding: 0;
      list-style: none;

      li {

        > a {
          position: relative;
          float: left;
          width: 100%;
          line-height: 3.0;
          text-align: left;
          color: white;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
        }

        > a.footer__element--email {
          text-transform: lowercase;
        }
      }
    }
  }

  &__partner {
    @include display-flex(flex);
    @include flex-direction(column);
    position: relative;
    float: left;
    width: 196px;
    padding-left: 30px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 770px) {
      width: 25%;
    }

    @include breakpoint(max-width 660px) {
      width: 100%;
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 22px;
      text-align: left;
      color: black;
      font-size: 13px;
      font-weight: 900;
      text-transform: uppercase;

      @include breakpoint(max-width 990px) {
        margin-top: 60px;
      }

      @include breakpoint(max-width 670px) {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &--partner {
      position: relative;
      float: left;
      width: 116px;
      height: 30px;
      overflow: hidden;
      margin-top: 10px;

      img, svg {
        size: 100%;
        object-fit: contain;
      }
    }
  }

  &__socials {
    @include display-flex(flex);
    @include justify-content(flex-end);
    position: relative;
    float: left;
    width: calc(100% - (20% + (25% * 2 + 196px)));
    margin-top: 43px;

    @include breakpoint(max-width 1024px) {
      width: 100%;
      @include justify-content(flex-start);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint(max-width 670px) {
      width: 100%;
      @include justify-content(center);
      margin-top: 20px;
    }

    a {
      @include display-flex(flex);
      @include align-items(center);
      @include justify-content(center);
      position: relative;
      float: left;
      width: 30px;
      height: 28px;
      margin: 0 5px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #000;
      box-shadow: 0px 0px 0px 1px transparent inset;

      .fa {
        color: #a1865a;
        font-size: 18px;
      }
    }

    a:hover {

      .fa {
        color: #fff;
      }
    }
  }

  &__art {
    position: absolute;
    bottom: 53px;
    right: 0;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 900;

    @include breakpoint(max-width 990px) {
      position: relative;
      float: left;
      right: inherit;
      bottom: inherit;
      width: 100%;
      @include justify-content(center);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint(max-width 670px) {
      position: relative;
      float: left;
      right: inherit;
      bottom: inherit;
      width: 100%;
      @include justify-content(center);
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}