.footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #101211;

  &__logo {
    @include display-flex(flex);
    @include flex-direction(column);
    position: relative;
    float: left;
    width: 20%;

    @include breakpoint(max-width 660px) {
      width: 100%;
    }

    .logo {
      position: relative;
      float: left;
      width: 125px;
      height: 140px;
      overflow: hidden;
      margin-top: 15px;

      @include breakpoint(max-width 660px) {
        width: 75px;
        height: 65px;
        margin-left: 25px;
      }

      img, svg {
        size: 100%;
        object-fit: contain;
      }
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 0;
      color: #d6b780;
      font-size: 18px;
      font-family: $ProximaNovaBold;
      text-transform: uppercase;
    }

    &--address {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      color: #d6b780;
      font-size: 18px;
      font-family: $ProximaNovaRegular;
      text-transform: uppercase;
    }

    &--call {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      color: #d6b780;
      font-size: 18px;
      font-family: $ProximaNovaRegular;
      text-transform: uppercase;

      &:last-of-type {
        margin-top: 30px;
        margin-bottom: 50px;

        @include breakpoint(max-width 660px) {
          margin-top: 10px;
          margin-bottom: 10px;
        }

      }
    }
  }

  &__element {
    @include display-flex(flex);
    @include flex-direction(column);
    position: relative;
    float: left;
    width: 25%;
    padding-left: 30px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 660px) {
     width: 100%;
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 22px;
      text-align: left;
      color: #fffef6;
      font-size: 18px;
      font-family: $ProximaNovaBold;
      text-transform: uppercase;

      @include breakpoint(max-width 660px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }

    }

    &--menu {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;

      li {

        > a {
          position: relative;
          float: left;
          width: 100%;
          line-height: 2.0;
          text-align: left;
          color: #fffef6;
          font-size: 18px;
          font-family: $ProximaNovaRegular;
          text-transform: uppercase;
        }

        > a.footer__element--email {
          text-transform: lowercase;
        }

      }

    }

  }

  &__partner {
    @include display-flex(flex);
    @include flex-direction(column);
    position: relative;
    float: left;
    width: 196px;
    padding-left: 30px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 660px) {
      width: 100%;
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 22px;
      text-align: left;
      color: #fffef6;
      font-size: 18px;
      font-family: $ProximaNovaBold;
      text-transform: uppercase;

      @include breakpoint(max-width 660px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }

    }

    &--partner {
      position: relative;
      float: left;
      width: 116px;
      height: 30px;
      overflow: hidden;
      margin-top: 10px;

      img, svg {
        size: 100%;
        object-fit: contain;
      }
    }

  }

  &__socials {
    @include display-flex(flex);
    @include justify-content(flex-end);
    position: relative;
    float: left;
    width: calc(100% - (20% + (25%*2 + 196px)));
    margin-top: 43px;

    @include breakpoint(max-width 1024px) {
      width: 100%;
      @include justify-content(flex-start);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint(max-width 660px) {
     width: 100%;
      @include justify-content(center);
      margin-top: 20px;
    }

    a {
      @include display-flex(flex);
      @include align-items(center);
      @include justify-content(center);
      position: relative;
      float: left;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #fffef6;
      box-shadow: 0px 0px 0px 1px #fffef6 inset;

      .fa {
        color: #a1865a;
        font-size: 22px;
      }

    }

    a:hover {

      .fa {
        color: #000;
      }

    }
  }
  
  &__art {
    position: absolute;
    bottom: 53px;
    right: 0;
    color: #fff;
    text-transform: uppercase;

    @include breakpoint(max-width 990px) {
      position: relative;
      float: left;
      right: inherit;
      bottom: inherit;
      width: 100%;
      @include justify-content(center);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint(max-width 660px) {
      position: relative;
      float: left;
      right: inherit;
      bottom: inherit;
      width: 100%;
      @include justify-content(center);
      margin-top: 20px;
      margin-bottom: 20px;
    }

  }
}